@font-face{
  font-family: 'manga';
  src: url("../src/font/manga/Manga.otf");
}
@font-face{
  font-family: "gaming";
  src: url("../src/font/gaming/Retro_Gaming.ttf");
}


body {

    padding:0;
    margin:0;
    background-image: url("../img/body.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }
/* mise en place de la navbar */
  nav {
    background-color:#273043;
    width:99vw;
    height:15vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    color: #016fb9;
    font-family: "gaming";
  }
  li:hover{
    -ms-transform: scale(1.1);
        transform: scale(1.1);
      
  }
#icone1{
  list-style: url("../img/pokeball.png")
}
#icone2{
  list-style: url("../img/superball.png")
}
#icone3{
  list-style: url("../img/hyperball.png")
}
#icone4{
  list-style: url("../img/masterball.png")
}
  
  li {
    height: 6vh;
    width: auto;
    margin-right:10vw;
    font-size:3vh;
  }

  a{
    text-decoration: none;
    color: #0160b9;
  }
  
  
  
  nav ul {
    display:inline-flex;
    justify-content:flex-end;

  }

  #logo{
      background-color: rgb(241, 139, 36);
      height: 15vh;
      width: 10vw;
  }

  /* début de la page, l'accueil */
  .accueil{
    position: relative;
    height: 85vh;
    width: auto;
    display: flex;
      align-items: center;
      font-size: 5vh;  
    color: #016fb9;
    background-size: cover;
    background-attachment: scroll;
    
  }
  #bryan{
    text-align: center;
    font-size: 5vh;     
    width: 100vw;
    background-color: rgba(14, 11, 11, 0.753);
    font-family: "gaming";
  }

  /* 2nd section de la page  */
  .propos{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(5,1fr);
    height: 100vh;
    background-image:url("../img/accueil2.jpg");
    background-size: cover;
    font-family: "gaming";
  }
  .moncv{
    position: relative;
    left: 1vw; top: 1vh;
    grid-column: 1/4;
    grid-row: 2/5;
    background-image: url("../img/cv.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid  #273043;
  }

  #moi{
    border: 2px solid #273043;
    position: relative;
    top: 1vh; right: 8vh;
    grid-column: 5/8;
    grid-row: 2/5;
    font-size: 2.2vh;
    text-align: justify;
    color:#34393E;
    background-color:#016fb9de;
    padding-left: 2vh;
    padding-right: 2vh;
  }
  #cvpadding{
    position: relative;
    top: 20vw;
    padding: 20vw;
    padding-right: 7vw;
    padding-left: 22vw;
  }
  #photo{
    grid-column: 5/10;
    grid-row: 3/4;
    
  }
  #photodeprofil{
    position: relative;
    left: 10vh;
    height: 35vh;
    width: 40vh;
  }
  #navpropos{
    position: absolute;
    top: 100vh;
    height: 2vh;
    width: 99vw;
  }

  /* 3eme partie, je met la section des reseaux sociaux  */
  #sociaux{
    grid-column:8/11;
    padding: 5vh;
    grid-row: 2/3;
    background-color:  #016fb9c5;
    border: 2px solid #273043;
    position: relative;
    right: 1vh;
  }
   #linkedin{
     position: relative;
     top: -14vh;
     left: 16vw;
    height: 15vh;
    width: 16vh;
  }
  #linkedin:hover, #facebook:hover, #twitter:hover{
    -ms-transform: scale(1.1);
        transform: scale(1.1);
  }
  #facebook{
    position: relative;
    top: 18vh;
    left: 5vw;
    height: 20vh;
    width: 22vh;
    margin: 0;
  }
  #twitter{
    position: relative;
    top: 1vh;
    left: -2vw;
    height: 15vh;
    width: 15vh;
  }
  #facebook > a{
    padding:2vw;
  }
  #navcompet{
    position: absolute;
    top: 209.9vh;
    height: 2vh;
    width: 10vw;

  }
  .competences{
    display:flex;
    height: 70vh;
    width: 99vw;
    background-color: #0782d4;
    background-image:url("../img/background4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 57vh;
    opacity: 1;
  }

  #logocomp1{
    list-style: url("../img/triforce.png");
    margin: 0;
  }
  #logocomp2{
    list-style: url("../img/avenger.png");
    margin: 0;
  }
  #logocomp3{
    list-style: url("../img/supermario.png");
    margin: 0;
  }
  #logocomp4{
    list-style: url("../img/crash.png");
    margin: 0;
  }
  #logocomp5{
    list-style: url("../img/sonic.png");
    size: 2vh;
    margin: 0;
  }


  .ulcompetences{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.794);
position: relative;
top: 15vh; 
  }
  .titre{
    width: 30vw;
    position: relative;
    left: 35vw;
    text-align: center;
    font-size: 4vh;
    margin: 0; padding: 2vh;
    background-color: rgba(0, 0, 0, 0.87);
    color: #0160b9;
    font-family: "gaming";
  }
  .skills{
    width: 48vw;
    height: 80vh;
    color: #bb0885;
    font-family: "gaming";
    
  }
  .leslogos{
    height: 20vh;
  }
  .leslogos:hover , .drapeaux:hover{

    -ms-transform: scale(1.1);
        transform: scale(1.1);
  }
  .drapeaux{
    height: 15vh;
  }


  /* création de la section des réalisations */
  #navreal{
    position: absolute;
    top: 289vh;
    height: 2vh;
    width: 10vw;

  }
  .realisations{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,15vh);
    height: 80vh;
    width: 99vw;
    font-family: "gaming"
  }
  .realisations > p{
    color: #bb0885;
  }
/* mise en place des différents projet à leurs place dans la section */
  .jeuxfoot{
    position: relative;
    top: 1vh;
    background-image: url("../img/foot.png");
    background-size: cover;
grid-column: 1/4;
grid-row:1/3;
  }

  #textfoot{
    position: relative;
    top: 3vh;
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
    font-size: 2.3vh;
    color: #bb0885;
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 30%;
    opacity: 0;
  }
  .jeuxfoot:hover{
    border-radius: 40%;
    transition-duration: 2s;
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    left: 3vh;
  }
  .jeuxfoot:hover #textfoot{
    transition-duration: 1s;
  opacity: 1;
  }
  .jeuxfoot > a{
    position: relative;
    top: 13vh;
    left: 0.5vw;
    padding: 15vh;
    padding-left: 22vw;
    padding-right: 7vw;
  }
                                          /* Exo 2 */
.exovitrine{
  position: relative;
  right: 5vh;
  top: 1vh;
  background-image: url("../img/vitrine.png");
  background-size: cover;
  grid-column:  5/8;
  grid-row: 1/3;
}

#textvitrine{
  position: relative;
    text-align: center;
    font-size: 2.3vh;
    color: #bb0885;
    background-color: rgba(255, 255, 255, 0.829);
    position: relative;
    top: 7vh;
    border-radius: 30%;
    opacity: 0;
}
.exovitrine:hover{
  border-radius: 40%;
transition-duration: 2s;
-ms-transform: scale(1.1);
transform: scale(1.1);
}
.exovitrine:hover #textvitrine{
  transition-duration: 1s;
  opacity: 1;
}
.exovitrine > a {
position: relative;
    top: 13vh;
    left: 0.5vw;
    padding: 15vh;
    padding-left: 22vw;
    padding-right: 7vw;
}
                                   /* projet 3  */
.hotcold{
  position: relative;
  top: 1vh;
  background-image: url("../img/hotcold.png");
  background-size: cover;
  grid-column: 8/10;
  grid-row: 1/2;
  overflow: hidden; 
}
#texthotcold{
  opacity: 0;
  text-align: center;
  font-size: 2.3vh; 
  color: #bb0885;
  background-color: rgba(255, 255, 255, 0.829);
  border-radius: 30%
} 

.hotcold:hover #texthotcold{
  opacity:1;
  transition-duration: 1s;
}
.hotcold:hover{
border-radius: 40%;
transition-duration: 2s;
-ms-transform: scale(1.2);
transform: scale(1.2);

}

.hotcold > a {
  position: relative;
    top: 6.5vh;
    padding: 6.8vh;
    padding-left: 20vw;
    padding-right: 8vw;
}

                                      /* projet 4  */
.exofonction{
  position: relative;
  top: 1vh;
  background-image: url("../img/exofonction.png");
  background-size: cover;
  grid-column: 1/4;
  grid-row: 4/6;
  overflow: hidden; 
}
.exofonction > a {
  position: relative;
    top: 15vh;
    padding: 15vh;
    padding-right: 22vw;
}
#textfonction{
  opacity: 0;
  text-align: center;
  font-size: 2.3vh; 
  position: relative;
  top: 4vh;
  color: #bb0885;
}
.exofonction:hover #textfonction{
  opacity:1;
  transition-duration: 1s;
}
.exofonction:hover{
  left: 3vh;
border-radius: 40%;
transition-duration: 2s;
        -ms-transform: scale(1.1);
        transform: scale(1.1);

}
                                /* Exo 5 */

.pountaclick{
  position: relative;
  top: 1vh;
  background-image: url("../img/pountaclick.png");
  background-size: cover;
  grid-column: 5/8;
  grid-row: 4/6;
  overflow: hidden;
}
.pountaclick > a {
  position: relative;
  top: 15vh;
  padding: 15vh;
  padding-right: 22vw;
    
}
#textpounta{
  opacity: 0;
  text-align: center;
  font-size: 2.3vh; 
  position: relative;
  top: 4vh;
  color: #bb0885;
}

.pountaclick:hover #textpounta{
  opacity:1;
  transition-duration: 1s;
        
}
.pountaclick:hover{
border-radius: 40%;
transition-duration: 2s;
-ms-transform: scale(1.3);
        transform: scale(1.3);

}

                                /* réalisation de la partie contact */

#navcontact{
  position: absolute;
  top: 378vh;
  height: 2vh;
  width: 10vw;
}


.contact{
  height: 68vh;
  width: 98.6vw;
  display: flex;
  font-family: "gamer";
  color: #0160b9;
  background-color: #0160b9;
 

}

#contactme{
display: flex;
  height: 45vh;
  width: 50vw;
}

#mesinformations{
  
  height: 67vh;
  width: 49vw;
  

}

.tel{
  position: relative;
  top: 8vh;
  height: 30vh;;
  width:15vw;;
  background-image: url("../img/tel.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#texttel{
  position: relative;
  top: 14vh;
  left: 8.5vh;
  color: #bb0885;
 opacity: 0;
 transition: 1s;
 transform-origin: left;
}

.tel:hover {

  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 2s;
}
.tel:hover #texttel{
  opacity: 1;
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}


.mail{
  position: relative;
  top: 13vh;
  right: 24vw;
  height: 21vh;;
  width:13vw;;
  background-image: url("../img/gmail.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#textmail{
  position: relative;
  top: 10vh;
  left: 1.5vh;
  color: #bb0885;
 opacity: 0;
 transition: 1s;
 transform-origin: left;
}

.mail:hover {

  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 2s;
}
.mail:hover #textmail{
  opacity: 1;
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* c'est partie pour essayer du responsive mobile */
@media screen and (max-width: 992px){

  body {
    padding:0;
    margin:0;
    width: 99%;
    background-color: #0160b9;
    background-image: none;

  }
/* mise en place de la navbar */
  nav {
    background-color:#273043;
    width:128%;
    height:15vh;
    display:flex;
    align-items:center;
    justify-content:none;
    color: #016fb9;
    font-family: "gaming";
  }
#icone1{
  list-style: none;
}
#icone2{
  list-style: none;
}
#icone3{
  list-style: none;
}
#icone4{
  list-style: none;
}

  li {
    height: 3vh;
    width: 50vh;
    font-size:1.8vh;
    margin-right: 2vh;
  }
  ul{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  a{
    text-decoration: none;
    color: #0160b9;
  }

  #logo{
     display: none;
  }

/* accueil */

.accueil{
  position: relative;
  left: 1vh;
  height: 112vh;
  width: 123vw;
  display: flex;
  align-items: center;
  font-size: 5vh;  
  color: #016fb9;
  background-size: cover;
  background-attachment: scroll;
  
}
#bryan{
  text-align: center;
  font-size: 5vh;     
  width: 124vw;
  background-color: rgba(14, 11, 11, 0.753);
  font-family: "gaming";
}
.titre{
  width: 100vw;
  left: 7vw;
  font-size: 10vw;
}
/* 2nd section de la page  */
.propos{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(5,1fr);
  height: 70vh;
  width: 126vw;
  background-image:url("../img/accueil2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "gaming";
}
.moncv{
  display: none;
}

#moi{
  border: 2px solid #273043;
  position: relative;
  top: 1vh; right: 6vh;
  grid-column: 3/12;
  grid-row: 1/2;
  font-size: 1.52vh;
  text-align: justify;
  color:#34393E;
  background-color:#016fb9de;
  padding-left: 2vh;
  padding-right: 2vh;
}

  #mesinformations{
    display: none;
  }

  #photodeprofil{
    display: none;
  }
  #sociaux{
display: flex;
    padding: 2vh;
    background-color:  #016fb9c5;
    border: 2px solid #273043;
    width: 95vw;
    position: relative;
    right: 35vh; top:3vh;
  }
  #facebook{
    position: relative;
    top: 0vh;
    left: 0vw;
    height: 10vh;
    width: 12vh;
    margin: 0;
  }
  #twitter{
    position: relative;
    top: 0vh;
    left: 6vw;
    height: 10vh;
    width: 12vh;
    margin: 0;
  }
  #linkedin{
    position: relative;
    top: 0vh;
    left: 12vw;
    height: 10vh;
    width: 12vh;
    margin: 0;
  }

  .competences{
    display:flex;
    height: 70vh;
    width: 126vw;
    background-color: #0782d4;
    background-image:url("../img/background4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 17vh;
    opacity: 1;
  }

  .leslogos{
    height: 15vh;
  }
  #logocomp1,#logocomp2,#logocomp3,#logocomp4,#logocomp5{
    height: 7vh;
    width: 20vw;

  }
  .ulcompetences{
    top:10vh;
  }
  .drapeaux{
    display: none;
  }
  .skills{
    width: 100vw;
    color: #bb0885;
    font-family: "gaming";
    
  }
  .realisations{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,15vh);
    height: 80vh;
    width: 126vw;
    font-family: "gaming"
  }

  .jeuxfoot{
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .jeuxfoot > a {
    top: 6vh;
    padding: 6vh;
    padding-left: 55vw;
    padding-right: 7vw;
  }
  #textfoot,#textvitrine,#texthotcold,#textfonction,#textpounta{
display: none;
  }
.exovitrine{
  grid-column: 1/7;
    grid-row: 2/3;
    top: 2vh;
    background-size: cover;
}
.exovitrine > a{
  top: 6vh;
    padding: 6vh;
    padding-left: 55vw;
    padding-right: 7vw;
}


} 
