body{
    background-size: cover;
    background-repeat: no-repeat;
background-color:black;
    color: rgb(0, 38, 255);
}

#grille{

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25vh 10vh 10vh 10vh;
}

#titre{
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    align-self: center;
}
.explicatif{

    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    align-self: center;
}

#fleur{
    grid-row: 3/4;
    height: 5vh;
    width:25vw;
    display: flex;
}

input{
    margin-left: 3vw;
    width: 10vw;
}

#btn{
    grid-column: 1/2;
    grid-row: 3/5;
   
    align-self: center;
    height: 5vh;
    width: 8vw;
}
#chaudoufroid{
    text-align: center;
    align-self: center;
    grid-column: 2/3;
    grid-row: 2/5;
    font-size: 20vh;
    color: black;
}
